body {
    border-style: groove;
    text-align: center;
    max-width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(hero-2.jpg);
    color: azure;
    height: 100vh;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(168, 168, 33);
    font-weight: bold;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#save-btn{
    background: darkcyan;
}

#increment-btn {
    background: darkred;
}

